body{
    background-color: rgb(246, 242, 188); 
    background: linear-gradient(to right,rgb(228, 199, 35),rgb(252, 242, 185),rgb(228, 190, 21));
    color:rgb(65, 60, 60);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 100;
    margin: 0px;
}

.container{
    border: 1px solid black;
    background-color: rgb(18, 18, 22);
    width: 300px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20x 20px;
    background-color: rgb(248, 243, 153);
    color: antiquewhite;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;   
}

.container:hover{
    box-shadow: 5px 5px 5px rgb(158, 147, 78);
    background-color: rgb(248, 243, 153);

}

.container label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: large;
    font-variant: small-caps;
    font-weight: bold;
    color: rgb(19, 17, 17);
}

.container input {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 100;
    font-style: initial;
    background-color: rgb(247, 224, 20); 
    border: 2px solid rgb(175, 169, 115);
    width:250px;
    height: 20px;
}

.container input:hover {
    box-shadow: 2px 2px 20x;
    background-color: rgb(248, 243, 153);
}

.container button {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background-color: rgb(246, 242, 188); 
}

.container button:hover {
     background-color:  rgb(255, 214, 29);
}

